# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.env/
.venv/
env/
venv/

# OS files
.DS_Store
Thumbs.db

# Jupyter/IPython
.ipynb_checkpoints/

# VSCode / IDEs
.vscode/
.idea/

# Logs and local output
*.log
*.sqlite3

# Docker
*.pid
*.tar
*.sock

# Environment
.env